<section #headerContainer class="header flex">
  <div class="md:flex align-content-center hidden md:col-4">
    <img src="https://img.logoipsum.com/262.svg" alt="Logo" />
  </div>
  <div class="col-6 md:col-4 flex justify-content-center align-items-center">
    <h1>Quizz</h1>
  </div>
  <nav class="col-6 md:col-4 flex justify-content-end text-right align-content-center align-items-center">
    <button
      pButton
      pRipple
      label="About Us"
      class="mr-1 p-button-secondary"
    ></button>
    <button
      pButton
      pRipple
      label="Contact Us"
      class="mr-1 p-button-secondary"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-user"
      class="p-button-info"    ></button>
  </nav>
</section>
<div class="padded-div"></div>
