.header {
  background-color: #9FA8DA;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: rgba(159, 168, 218, 1);
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  height: 6rem;
  padding: 0.5rem;

  h1 {
    font-size: 3rem;
    color: #2f214b;
  }
}

.padded-div {
  height: 6rem;
}

ol {
  list-style: none;
}
